@import "tailwindcss";
@layer base {
  h1 {
	margin: 3rem;
	font-weight: 700;
	text-align: center;
    font-size: var(--text-2xl);
  }
  h2 {
	margin-top: 3rem;
	margin-bottom: 1rem;
	font-weight: 500;
    font-size: var(--text-xl);
  }
}
